body{
    text-align:center;
}

.container{
    margin:auto;
    display: flex;
    justify-content: center;
}
.box{
    height:200px;
    width:200px;
    border:10px black solid;
    border-radius:20px;
    margin:2.5rem;
}
.red{
    background-color:#d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color:#63aac0;
}
.purple{
    background-color:#819ff9;
}
.flash{
    background-color:white;
}
.userflash{
    background-color:green;
}